/* @font-face {
    font-family: "PSL094PRO";
    src: url(../fonts/PSL094PRO.TTF);
} */
@font-face {
    font-family: 'PSL094PRO';
    src: url('../fonts/PSL094PRO.TTF') format('truetype');
}
/* body {
    font-family: 'PSL094PRO';
    font-weight: bold;
} */
.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}